input[data-hook=search-query] {
  display: none;
}

.js input[data-hook=search-query] {
  display: block;
}

.js .js-hidden { display: none; }
.js-shown { display: none; }
.js .js-shown { display: block; }

.organization-thumbnail img,
.category-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.datasets-count {
  display: inline-block;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.card-grid {
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.card-grid-organizations {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
}

.card-grid .card-grid-item:hover {
  background-color: #abccfb;
}

.card-grid .card-grid-item {
  min-width: 150px;
  text-align: center;
  border: none;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.card-grid .card-grid-item img {
  height: 80px;
}

.card-grid a {
  color: #000;
}

.view-code-link {
  margin: 1em;
}

.breadcrumb {
  background-color: #e9ecef;
  padding: .75rem 1rem;
  border-radius: .25rem;
}

/* custom footer */

.mysoc-footer {
  margin-top: 2em;
  background-color: #333;
  color: #eee;
  padding: 3em 4em 1em;
}

.mysoc-footer a {
  color: #acacac;
  text-decoration: none;
}

.mysoc-footer a:hover,
.mysoc-footer a:focus {
  color: #fff;
  text-decoration: underline;
}

.mysoc-footer__site-name {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold;
  margin: 0 0 .5em 0;
  color: #fff
}

.mysoc-footer__links {
  font-size: 1em;
  line-height: 1.2em
}

.mysoc-footer__links ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.mysoc-footer__links li {
  margin: 0 0 0.5em 0
}

.mysoc-footer__legal {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #9a9a9a
}

.mysoc-footer__badges {
  margin: 0 -4px;
  padding: 0;
  list-style: none
}

.mysoc-footer__badges li {
  margin: 0 4px;
  display: inline-block
}

.mysoc-footer__badge {
  display: inline-block;
  width: 32px;
  height: 0;
  padding-top: 32px;
  overflow: hidden;
  border-radius: 100%
}

.mysoc-footer__badge--github {
  background: transparent url("https://data.mysociety.org/theme/img/mysoc-footer/icon-github.png") 0 0 no-repeat;
}

