<div class="mysoc-footer" role="contentinfo">
  <div class="page">
    <div class="row">

      <div class="col-sm-7">
        <h2 class="mysoc-footer__site-name">{{ site.title }}</h2>
        <div class="mysoc-footer__site-description">
          <p>
            {{ site.greeting }}
          </p>
        </div>
      </div>

      <div class="col-sm-5">
        <h2 class="mysoc-footer__site-name">About</h2>
        <div class="mysoc-footer__site-description">
          <p>
            {{ site.description }}
          </p>
        </div>
      </div>

    </div>
    <hr class="mysoc-footer__divider" role="presentation">
    <div class="row">

      <div class="col-sm-9">
        <div class="mysoc-footer__legal">
          <p><a href="https://github.com/data-hamlets">data-hamlets</a></p>
        </div>
      </div>

      <div class="col-sm-3">
        <ul class="mysoc-footer__badges">
          <li role="presentation"><a href="https://github.com/data-hamlets/open-data-tower-hamlets"
              class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
      </div>

    </div>
  </div>
</div>

<!-- general behavior -->
<script type="module" src="{{ site.baseurl }}/scripts/dist/modern/index.js"></script>
<script nomodule src="{{ site.baseurl }}/scripts/dist/legacy/index.js"></script>

<footer></footer>
